body{
    margin: 0;
    padding: 0;
}

/* Header */

.bleuF{
    background-color: rgb(39, 39, 66);
    display: flex;
    border: solid 3x red;
    justify-content: space-between;
}

.start{
    border: red solid 3px;
    width: 15%;
    margin-left: 200px;
    color: white;
    
}

.signLog{
    display: flex;
    text-align: center;
    border: red solid 3px;
    width: 50%;
    justify-content: space-around;
    color: grey;
}

.section1{
    background-color: blue;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    
}

.onePage{
    color: white;
    border: solid 3px red;
    font-size: 50px;
    height: 200px;
}

.button1{

border: solid 3px red;
text-align: center;
color: white;


}

.white1{

    background-color: white;
    border: solid 3px red;
    height: 250px;
    display: flex;
}

.txt1 {
    border: green solid 3px;
    width: max-content;
    height: max-content;
    margin-left: 600px;
    margin-top: 50px;


}

.txt1>p:first-child{
    font-size: 30px;
}

.img1>img{

border-radius: 100px;
width: 200px;
margin-left: 200px;
    margin-top: 20px;
    border: red 3px solid;

}

.img2>img{

    border-radius: 100px;
    width: 200px;
    margin-left: 600px;
    margin-top: 0px;
    border: blue 3px solid;
    
    }


    .txt2{
        border: green solid 3px;
        width: max-content;
        height: max-content;
        margin-left: 1000px;
        margin-top: 50px;
    
    
    }
    
    .txt2>p:first-child{
        font-size: 30px;
    }

    .img2{
        border: blue solid 2px;
        width: 500px;
    }

    .noir{

background-color: black;
height: 100px;
justify-content: center;
align-items: center;
display: flex;

    }

    .copy{

        color: white;
        width: 5%;
        border: solid 3px red;
        align-items: center;
        justify-content: center;
    }